body{
	color: #444;
	font-family: arial;
	font-size: 12px;
}
#sidemenu{
	background: #ccc;
	padding:15px;
}

#site-content{
	min-height:500px;
}

#footer{
	background: #000;
	color: #fff;
	line-height: 30px;
	text-align:center;
}